#emailForm {
	width: 480px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 195px;
	margin: 0px;
	padding: 0px;
}

#emailForm p.error {
	font-weight: bold;
	color: #F00;
	width: 480px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	height: 15px;
}
#emailForm h4 {
	color: #FFF;
	background-color: #396c33;
	width: 470px;
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
	line-height: 30px;
}
#emailForm .sendButton {
	background-color: #B8C698;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #030;
	border-bottom-color: #030;
	border-left-color: #999;
	font-weight: bold;
	text-align: center;
	width: 70px;
	font-size: 14px;
	color: #030;
	float: right;
	margin-right: 20px;
}
a#close {
	clear: both;
	color: #630;
}
a#close2 {
	clear: both;
	color: #630;
	font-weight: bold;
	text-align: center;
	width: 100px;
	margin-left: 190px;
}
#emailForm form{
	margin: 0px;
	padding: 0px;
}
#emailForm input {
	margin: 0px;
	padding: 2px;
	background-color: #FFC;
	float: left;
}
#emailForm p#thanks {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	width: 480px;
	padding-top: 35px;
}
