#adminWrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
	background-color: #360;
	text-align: center;
	width: 100%;
}
#guestAdmin td {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999;
	padding-right: 5px;
	padding-left: 5px;
}
.photo {
	float: left;
}
.galleryList {
	display: block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	width: 100%;
	float: left;
	clear: both;
}

p.title {
	margin: 5px;
	float: left;
}
ul#adminLinks {
	float: left;
	list-style-type: none;
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 0px;
	height: 25px;
}

ul#adminLinks li {
	display: inline;
	float: left;
}
ul#adminLinks a {
	text-align: center;
	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 2px;
	padding-left: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #360;
}
ul#adminLinks_2 {
	margin-left: 300px;
}
ul#adminLinks_2 li {
	margin-bottom: 20px;
}
ul#adminLinks_2 a {
	color: #030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#login_form {
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	padding: 10px;
	background-color: #CCC;
}
#login_form input {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#login_form legend {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}
.login h3 {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: #33C;
	width: 340px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	display: block;
	clear: both;
	margin-top: 5px;
	text-align: center;
}
h3.colorBar {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: #360;
	width: 960px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	display: block;
	clear: both;
	margin-top: 15px;
	text-align: center;
}
#login_form a {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
input.submitLogin {
	color: #FFF;
	background-color: #009;
}
.galleryForm {
	background-color: #CCC;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}
.attention {
	font-weight: bold;
	color: #F00;
}
h2.trigger, h2.trigger2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #630;
	text-decoration: underline;
}
.toggle_box {
	padding: 7px;
	width: 960px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-bottom: 20px;
}
.toggle_box p {
	font-size: 13px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
a.homeLink {
	font-size: 14px;
	font-weight: bold;
	color: #360;
	text-decoration: underline;
	height: 25px;
	display: block;
}
input, textarea {
	background-color: #FFC;
}
