#about  h2.addLine{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	color: #662518;
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #662518;
	text-align: center;
	margin-bottom: 15px;
	clear: both;
}
#about #mainContent ul{
	margin-left: 50px;
	list-style-position: inside;
	font-size: 15px;
	line-height: 21px;
	float: left;
	width: 800px;
	margin-right: 20px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

* html #about #mainContent ul{
	margin-left: 25px;
	width: 800px;
	margin-right: 10px;	
}





#friends .container ul , #friends .container_2colRight ul{
	clear: left;
	float: left;
	width: 380px;
	margin-left: 50px;
	margin-bottom: 5px;
}
#friends #mainContent h3 {
	clear: both;
	width: 420px;
	margin-top: 10px;
}
#friends #mainContent h4 {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	text-indent: 35px;
	height: 25px;
}
#friends #mainContent h4.running {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	background-image: url(../images/icons/running-icon.jpg);
	background-repeat: no-repeat;
	height: 25px;
	background-position: 5px top;
}
#friends #mainContent h4.cycling {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	background-image: url(../images/icons/running-icon.jpg);
	background-repeat: no-repeat;
	height: 25px;
	background-position: 5px -25px;
}
#friends #mainContent h4.skateboarding {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	background-image: url(../images/icons/running-icon.jpg);
	background-repeat: no-repeat;
	height: 25px;
	background-position: 5px -52px;
}
#friends #mainContent h4.outdoor {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	background-image: url(../images/icons/running-icon.jpg);
	background-repeat: no-repeat;
	height: 25px;
	background-position: 5px -79px;
}
#friends #mainContent h4.nature {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	background-image: url(../images/icons/running-icon.jpg);
	background-repeat: no-repeat;
	height: 25px;
	background-position: 5px -106px;
}
#friends #mainContent h4.birdwatching {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	background-image: url(../images/icons/running-icon.jpg);
	background-repeat: no-repeat;
	height: 25px;
	background-position: 5px -131px;
}
#friends #mainContent h4.triathalon {
	font-size: 18px;
	font-weight: bold;
	color: #630;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #630;
	width: 420px;
	clear: both;
	background-image: url(../images/icons/running-icon.jpg);
	background-repeat: no-repeat;
	height: 25px;
	background-position: left -156px;
}







#friends #mainContent  p.wide {
	clear: both;
	width: 900px;
	text-align: center;
	margin-bottom: 15px;
}
#friends #mainContent li {
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 3px;
}
#friends .container li a    , #friends .container_2colRight li a{
	color: #000;
	text-decoration: none;
	font-size: 15px;
}
#friends .container li a:hover     , #friends .container_2colRight li a:hover{
	color: #360;
	text-decoration: underline;
}
#gallery .photoGal{
	float: left;
	height: 350px;
	width: 430px;
	text-align: center;
	content:".";
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
#gallery .photoGal img {
	margin-right: auto;
	margin-left: auto;
	float: none;
	text-align: center;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #666;
}
#gallery .photoGal img {
	margin-right: auto;
	margin-left: auto;
	float: none;
	text-align: center;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #666;
}
#gallery .photoGal p {
	font-size: 14px;
	font-style: italic;
	clear: left;
	width: 410px;
	text-align: center;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
#gallery p.submitPhoto {
	float: right;
	height: 20px;
	width: 350px;
	text-align: right;
	padding-right: 28px;
}
#gallery p#viewFacebox {
	float: left;
	height: 20px;
	width: 200px;
	text-align: left;
	font-size: 13px;
	font-style: italic;
	color: #666;
	padding-left: 28px;
}

#events .colorBox_noLogo {
	background-color: #F8E9AE;
	padding: 12px;
	width: 410px;
	height: auto;
	float: left;
	margin-bottom: 10px;
}
#events .container_photos {
	height: auto;
	width: 420px;
	margin-left: 0px;
	clear: right;
	margin-bottom: 20px;
	float: right;
	margin-right: 10px;
	text-align: center;
}
#events .container_photos img{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
#events .eventsLine {
	clear: both;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #360;
}
#events #eventLink {
	width: 930px;
	color: #630;
	font-style: italic;
	height: 30px;
	padding-left: 30px;
}
